body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
}

@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0ccac4;
}

.recharts-cartesian-grid-horizontal line:first-child {
	stroke-dasharray: 0, 0;
	stroke-opacity: 0;
}

.recharts-cartesian-grid-vertical line:first-child {
	stroke-dasharray: 0, 0;
	stroke-opacity: 0;
}


.lds-circle {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fcf;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
